.second {
	display: flex;
	justify-content: center;
	/*	border: 1px solid black;*/
	padding: 20px;
	padding-left: 120px;
	padding-right: 120px;
}
.gg {
	font-size: 15px;
}
.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
}
.left {
	width: 80%;
	text-align: center;
	border: 1px solid white;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
	padding-top: 6px;
	margin-left: 30px;
	margin-right: 30px;
}
.leftForm {
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
}
.image-container {
	/*	border: 1px solid red;*/
}
.right {
	width: 100%;
	text-align: center;
}

@media (max-width: 900px) {
	.loginbutton {
		margin-bottom: 30px;
	}
	.second {
		padding-left: 0px;
		padding-right: 0px;
	}
}
