.buttonDiv {
  text-align: center;
  margin-top: 20px;
}
.button {
  text-align: center;
  width: 150px;
  height: 35px;
  border: 1px solid #dc3545;
  border-radius: 4px;
  background-color: #dc3545;
  cursor: pointer;
  margin: auto;
  padding-top: 3px;
  color: white;
}
.home {
  background-color: rgb(104, 194, 230);
  border-radius: 6px;
  width: 55%;
  padding-top: 10px;
}
@media (max-width: 900px) {
  .home {
    width: 90%;
    margin: auto;
  }
  .form-control {
    /*    width: 40px;*/
  }
}
